<!-- index.html.erb en la carpeta views/tiend -->
<h1>Bienvenido a la aplicación</h1>
<p>Por favor, inicia sesión o regístrate:</p>

<%= link_to 'Iniciar sesión', new_tiend_session_path %>
<%= link_to 'Registrarse', new_tiend_registration_path %>
